*{
    font-family: 'iranSans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dde1e7;
}
.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.neumorphism-1{
    margin: auto;
    width: 500px;
    height: fit-content;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94,104,121,.288) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 1.5rem;
    margin: 1.3em;
}
h1{
    margin: 1.2em;
    text-align: center;
    color: rgb(109, 109, 109);
    text-shadow:3px 3px 5px rgba(94,104,121,.288);
}
img{
    margin: auto;
    width: 90%;
    height: 300px;
    border-radius: 1.5rem;
}
p{
    margin-right: 5em;
    margin-left: 5em;
    margin-top:1.2em ;
    margin-bottom: 1.2em;
    color: rgb(109, 109, 109);
    text-shadow:3px 3px 5px rgba(94,104,121,.288);
}
button{
    color: rgb(109, 109, 109);
    padding: 1.2em;
    border-radius: 1.2rem;
    margin-bottom: 1.2em;
    background-color: #dde1e7;
    border: none;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94,104,121,.288) ;
}
button:active {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94,104,121,.288);    
}